@page "/admin/logout"
@model FoodTruckApp.Areas.Admin.Pages.LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<p>Want to log out?</p>
<br>
<form method="post">
    <button type="submit" class="btn btn-primary btn-danger">Yes, log me out.</button>
</form>