html {
  font-size: 20px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@font-face {
  font-family: 'freescript';
  src: url('/font/Playball-Regular.ttf') format('truetype');
  font-style: normal;
}
@media (max-width: 768px) {
    .img-fluid {
        max-width: 150px;  /* nebo jiná vhodná velikost */
        height: auto;      /* zachování proporcí */
        margin: 0 auto;    /* centrování obrázku */
        display: block;
    }
}

